@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 9% 17%;
    --foreground: 210 20% 94%;

    --card: 228 9% 22%;
    --card-foreground: 210 20% 94%;

    --popover: 228 9% 20%;
    --popover-foreground: 210 20% 94%;

    --primary: 206 100% 70%;
    --primary-foreground: 206 100% 10%;

    --secondary: 228 9% 28%;
    --secondary-foreground: 210 20% 98%;

    --muted: 228 9% 28%;
    --muted-foreground: 228 6% 64%;

    --accent: 228 9% 28%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 86% 97%;

    --border: 228 9% 28%;
    --input: 228 9% 28%;
    --ring: 206 100% 70%;

    --radius: 0.75rem;

    --chart-1: 206 100% 70%;
    --chart-2: 206 80% 60%;
    --chart-3: 206 60% 50%;
    --chart-4: 206 40% 40%;
    --chart-5: 206 20% 30%;

    --sidebar-background: 228 9% 19%;
    --sidebar-foreground: 228 6% 84%;
    --sidebar-primary: 206 100% 70%;
    --sidebar-primary-foreground: 206 100% 10%;
    --sidebar-accent: 228 9% 25%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 228 9% 25%;
    --sidebar-ring: 206 100% 70%;
  }

  .dark {
    --background: 228 9% 17%;
    --foreground: 210 20% 94%;

    --card: 228 9% 22%;
    --card-foreground: 210 20% 94%;

    --popover: 228 9% 20%;
    --popover-foreground: 210 20% 94%;

    --primary: 206 100% 70%;
    --primary-foreground: 206 100% 10%;

    --secondary: 228 9% 28%;
    --secondary-foreground: 210 20% 98%;

    --muted: 228 9% 28%;
    --muted-foreground: 228 6% 64%;

    --accent: 228 9% 28%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 86% 97%;

    --border: 228 9% 28%;
    --input: 228 9% 28%;
    --ring: 206 100% 70%;

    --radius: 0.75rem;

    --chart-1: 206 100% 70%;
    --chart-2: 206 80% 60%;
    --chart-3: 206 60% 50%;
    --chart-4: 206 40% 40%;
    --chart-5: 206 20% 30%;
    
    --sidebar-background: 228 9% 19%;
    --sidebar-foreground: 228 6% 84%;
    --sidebar-primary: 206 100% 70%;
    --sidebar-primary-foreground: 206 100% 10%;
    --sidebar-accent: 228 9% 25%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 228 9% 25%;
    --sidebar-ring: 206 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}